@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-one: hsl(231, 53%, 39%);
    --color-two: #e2efec;
    --color-thrid: #FFC800;
    --font:'Inter', sans-serif;
}

body {
    font-family: var(--font);
    
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: 10%;
    margin-right: 10%;
}
