@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --color-one: #103178;
    --color-two: #FEC700;
    --color-three: #F0F4F9;
    --color-text: #5B6C8E;

    --font: "Inria Serif", serif;
}

body {
    font-family: var(--font);
    color: var(--color-one);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0;
}
 
a {
    text-decoration: none;
}
