/* header */
.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 /10%);
    position: sticky;
    top: 0;
    left: 0;
}

.header-top {
    background: var(--color-one);
    color: var(--color-two);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.header-main {
    background-color: var(--color-three);
}

.header-main .inner-wrap {
    display: flex;
    /* 2 dòng dưới căn đều header menu theo hàng ngang */
    justify-content: space-between;
    align-items: center;
    padding-top: 15px 0;
}

.header-main .inner-logo {
    display: flex;
    font-weight: 800;
}

.header-main .inner-logo a {
    display: flex;
    align-items: center;
}

.header-main .inner-logo span {
    font-size: 22px;
}

.header-main .inner-logo img {
    height: 48px;
    width: auto;
    margin-right: 10px;
}

.header-main li {
    list-style-type: none;
}

.header-main .inner-menu ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.header-main .inner-menu a {
    font-weight: 600;
}

.header-main .inner-menu {
    display: flex;
}

.header-main .inner-menu a {
    font-size: 18px;
    padding-left: 15px;
}


.header-main .inner-social ul {
    display: flex;
}

.header-main .inner-social ul li{
    font-size: 24px;
    margin-left: 10px;
}
.header-main a {
    color: var(--color-one);
}

/* end header */

/* section one */

.section-one {
    margin-top: 30px;
}

.section-one .inner-wrap {
    display: flex;
}

.section-one .inner-cooker {
    display: flex;
    max-width: 500px;
}


/* end section one */