/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

/* header top */
.header-top {
    background-color: var(--color-one);
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: var(--color-thrid);
    width: 100%;
    font-weight: 600;
}
/* end header top */



/* header main */
.inner-wrap {
    display: flex;
    justify-content:space-between;
}

.header-main .inner-wrap .span-logo{
    font-size: 30px;
    font-weight: 600;
}

.header-main .inner-menu ul {
    display: flex;
    list-style-type: none;
}

.header-main .inner-menu ul li {
    padding-right: 15px;
    /* font-size: 20px; */
    font-weight: 600;
}

.header-main .inner-social ul {
    list-style-type: none;
    display: flex;
}
.header-main .inner-social ul li {
    padding-right: 15px;
}
.header-main .inner-social i {
    font-size: 20px;
}

/* end header-main */

/* section-one */
.section-one {
    margin-top: 130px;
}

.section-one .inner-content h1 {
    font-size: 22px;
}

.inner-text {
    font-family: var(--font-contents-text);
}






