/* header */
.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 /10%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-top {
    background: var(--color-one);
    color: var(--color-two);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.header-main {
    background-color: var(--color-three);
}

.header-main .inner-wrap {
    display: flex;
    /* 2 dòng dưới căn đều header menu theo hàng ngang */
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 15px 0;
}

.header-main .inner-logo {
    display: flex;
    font-weight: 800;
}

.header-main .inner-logo a {
    display: flex;
    align-items: center;
}

.header-main .inner-logo span {
    font-size: 22px;
}

.header-main .inner-logo img {
    height: 48px;
    width: auto;
    margin-right: 10px;
}

.header-main li {
    list-style-type: none;
}

.header-main .inner-menu ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.header-main .inner-menu a {
    font-weight: 600;
}

.header-main .inner-menu {
    display: flex;
}

.header-main .inner-menu a {
    font-size: 18px;
    padding-left: 15px;
}


.header-main .inner-social ul {
    display: flex;
}

.header-main .inner-social ul li{
    font-size: 24px;
    margin-left: 10px;
}
.header-main a {
    color: var(--color-one);
}


.header-main .inner-wrap .inner-menu-mobi{
    display: none;
}

@media (max-width: 760px) {
    .header-top{
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    .header-main .inner-contact {
        display: none;
    }

}

@media (max-width: 768px) {
    /* .header-top{
        justify-content: space-between;
    } */
    .header-main .inner-menu {
        display: none;
    }
    .header-main .inner-social {
        display: none;
    }
    .header-main .inner-wrap .inner-menu-mobi {
        display: block;
        font-size: 24px;
        padding-right: 40px;
    }
}


/* end header */

/* section one */

.section-one {
    margin-top: 20px;
    background-color: var(--color-four)
    
}

.section-one .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-one .inner-product {
    display: flex;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    border: 1px solid rgb(233, 227, 227);
    margin: 20px 20px;
    padding: 10px;
    background-color: white;
}

.section-one .inner-product .inner-content {
    width: 50%;
    margin-left: 30px;
    position: relative;
    bottom: 20px;
}



.section-one .inner-product  .inner-content .inner-list {
    /* position: absolute; */
    display: flex;
    font-weight: 800;
}

.section-one .inner-product .inner-content .inner-item {
    margin-left: 15px;
    font-size: 12px;
}

.section-one .inner-product .inner-content .bt {
    /* position: absolute; */
    padding-top: 30px;
}

.button {
    background: var(--color-two);
    color: var(--color-four);
    padding: 12px 32px ;
    border-radius: 45px;
    border: 2px solid var(--color-two);
}

.button:hover {
    color: var(--color-one);
    background-color: white;
}

.section-one .inner-image {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.section-one .inner-image img {
    width: 100%;
}
.section-one .inner-image img:hover {
    transform: scale(1.1);
}

.section-one .inner-image .inner-sale {
    position: absolute;
    top: 0;
    right: 20px;
    background: var(--color-two);
    color: var(--color-one);
    width: 40%;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-one .inner-image .inner-sale span:nth-child(1){
    font-size: 24px;
    font-weight: 300px;
}

.section-one .inner-image .inner-sale span:nth-child(2) {
    font-size: 30px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .section-one .inner-content {
        width: 40%;

    }
    .section-one .inner-image {
        width: 40%;
    }
    /* .section-one .inner-image .inner-sale {
        width: 80px;
        height: 80px;
    } */
}

@media (max-width: 768px) {
    .section-one .inner-product {
        flex-wrap: wrap;
    }

    .section-one .inner-product .inner-content {
        width: 100%;
        order: 1;
        text-align: center;
    }
    .section-one .inner-product .inner-content .inner-list {
        justify-content: center;
    }
    .section-one .inner-image {
        width: 100%;
    }
}

/* end section one */







/* footer */
footer {
    background-color: var(--color-three);
    display: flex;
    font-size: 16px;
    padding: 10px;
    justify-content: center;
    font-weight: 600;
    position: sticky;
    bottom: 0;
    text-align: center;
}
/* end footer */